*{
        margin: 0;
        padding: 0;
        /*  вимкнути підсвічування інпута */
        outline: none;
        
}



body{

    width: 100%;
    height:100%;
    /* якщо не існує того шрифта буде інший */
    font-family: "Segoe UI",Arial,sans-serif; 
    background-color: #dad3d3;

}
a:hover{
    color: rgb(72, 0, 255);

}
a, a:hover{
    /* без підкреслення посилань */
    text-decoration: none; 
    -webkit-transition: all.50s ease;
    /* для різних браузерів */
    -moz-transition: all.50s ease;
    -o-transition: all.50s ease;
    -ms-transition: all.50s ease;
    transition: all.50s ease;
}

.custom-input {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black; /* Black border */
  border-radius: 5px;
  background-color: white; /* White background color */
  color: black; /* Black text color */
  font-size: 16px;
}

.styled-button {
  display: inline-block;
  border-radius: 30px;
  padding: 10px 20px;
  margin-top: 5px;
}